#board{
	border-style: solid;
	border-color: black;
	width: 400px;
}

.white-box{
	margin: 0%;
    width:50px;
    height:50px;
    background-color:white;
 }


.black-box{
	margin: 0%;
    width:50px;
    height:50px;
    background-color:black;
    
}

.white-piece{
	margin: 0%;
	width:50px; 
	height:50px; 
	background-color:yellow; 
	border-radius: 50%;
}

.black-piece{
	margin: 0%;
	width:50px; 
	height:50px; 
	background-color:black; 
	border-radius: 50%;
}

td{
	width:60px;
    height:60px;
}
